<!-- Slider Passer -->
<section class="home">
  <video class="video-slide active" src="/public/VIDEOS/pexels-zlatin-georgiev-5608053.mp4" autoplay muted loop></video>
  <div class="content active">
     
        <h1>Raspagem de<br><span>Dados</span></h1>
        <p>Habilidade ou disposição dirigida para a execução de uma finalidade prática ou teórica, realizada de forma consciente, controlada e racional." A arte é tudo que pode ser usado para se expressar, uma pintura, um objeto, qualquer coisa. Podendo ser a expressão de um sentimento ruim, agoniante, e também até o ápice da felicidade e alegria </p>
        <a href="#">Leia Mais</a>
      
  </div>
  <div class="media-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/carlosrafaelgn/" target="_blank"><i class="fa fa-instagram"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
  </div>

</section>

<div class="container-fluid container"> 
    <h1 class="titulos">Roadmap</h1>
    <div class="row">
      <div class="col-sm-6 coluna">

              <div class="timeline">
                  <div class="timeline-container primary">
                      <div class="timeline-icon">
                          <i class="far fa-grin-wink"></i>
                      </div>
                      <div class="timeline-body">
                          <h4 class="timeline-title"><span class="badge">Entendimento do Projeto</span></h4>
                          <p>Lorem ipsum dolor sit amet.</p>
                          <p class="timeline-subtitle">1 Hours Ago</p>
                      </div>
                  </div>
                  <div class="timeline-container danger">
                      <div class="timeline-icon">
                          <i class="far fa-grin-hearts"></i>
                      </div>
                      <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Definição da Ideia</span></h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="timeline-subtitle">2 Hours Ago</p>
                      </div>
                  </div>
                  <div class="timeline-container success">
                      <div class="timeline-icon">
                          <i class="far fa-grin-tears"></i>
                      </div>
                      <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Raspagem de Dados</span></h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="timeline-subtitle">6 Hours Ago</p>
                      </div>
                  </div>
                  <div class="timeline-container warning">
                      <div class="timeline-icon">
                          <i class="far fa-grimace"></i>
                      </div>
                      <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Implementação das Dashboards</span></h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="timeline-subtitle">1 Day Ago</p>
                      </div>
                  </div>
                  <div class="timeline-container">
                      <div class="timeline-icon">
                          <i class="far fa-grin-beam-sweat"></i>
                      </div>
                      <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Apresentação do Projeto</span></h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="timeline-subtitle">3 Days Ago</p>
                      </div>
                  </div>
                  <div class="timeline-container info">
                      <div class="timeline-icon">
                          <i class="far fa-grin"></i>
                      </div>
                      <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">LOL</span></h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="timeline-subtitle">4 Days Ago</p>
                      </div>
                  </div>
              </div>
            
      </div>
      <div class="col-sm-6 coluna">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_sk5h1kfn.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
      </div>
    </div>
</div>

<%- contentFor("pos-styles") %>
<style type="text/css">
  header {
    position: absolute;
  }
</style>


<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


